.visa-card {
  width: 200px;
  border-radius: 18px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  height: 250px;

}

.visa-thumb {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.visa-content {
  padding: 12px;
}

.visa-country {
  font-size: 18px;
  font-weight: 600;
}

.visa-price {
  color: #1e90ff;
  margin-top: 4px;
}

.visa-time {
  color: #6f6f6f;
  font-size: 12px;
}
